:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(54, 54, 54, 0.87);

  --transition: 200ms ease-in;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #EEF0F4;
  user-select: none;
}

.container {
  max-width: 320px;
  width: 96%;
  margin: 0 auto;
}

p {
  text-align: center;
  margin: 0 auto;

}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
}

ul li {
  font-size: 1.25rem;
  background-color: #FFFDF8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  flex-grow: 1;
  border-radius: .5rem;
  text-align: center;
  cursor: pointer;
  transition: var(--transition);
}

ul li:hover {
  background-color: #FFECC7;
}



